$purpleDark: #614071;
$purpleMid: #ae8abf;
$purpleLight: #e6bbfa;
$greenDark: #5c700c;
$greenMid: #96ab41;
$greenLight: #bacb74;

$communityDark: #ffe600;
$communityMid: #ffec3d;
$communityLight: #fdef6e;

$academicsDark: #990e0e;
$academicsMid: #d10000;
$academicsLight: #fc0000;

$religiousDark: #196ae3;
$religiousMid: #6f8db8;
$religiousLight: #accbf8;

$environmentDark: #97bd00;
$environmentMid: #c1e62e;
$environmentLight: #d6eb84;

$socioculturalDark: #ff8210;
$socioculturalMid: #ff983a;
$socioculturalLight: #fdb069;

body {
    background-color: $purpleDark;
}

.nav-bar {
    background-color: $purpleDark;

    .nav-to-home,
    .nav-to-podcares,
    .nav-to-areas {
        color: white;

        &:hover {
            color: $greenMid;
        }
    }
}

.carousel {
    .slide-controls {
        i {
            color: white;
        }
        
        &:active i {
            color: $purpleLight
        }
    }

    .slide-indicator{
        .slide-dot {
            background-color: white;
        }
    }

    .join-cares {
        background-color: transparent;
        border: .2rem solid $purpleLight;
        color: white;

        &:active {
            background-color: $purpleLight;
        }
    }
}

.catch-up-with-cares {
    background-color: $purpleDark;

    .catch-up-with-cares-subheader {
        &:hover {
            a {
                color: $greenMid;
            }
        }
    }

    .catch-up-with-cares-date {
        color: $purpleLight;
    }
}

.about-cares {
    background-color: $purpleMid;

    a:hover {
        &.community {
            color: $communityDark
        }

        &.academics {
            color: $academicsMid
        }

        &.religious {
            color: $religiousDark
        }

        &.environment {
            color: $environmentDark
        }

        &.sociocultural {
            color: $socioculturalDark
        }
    }
}

.areas-display {
    background-color: $purpleDark;

    .areas-container {
        border: .4rem solid; 

        &.community {
            background-color: $communityLight;
            border-color: $communityLight;
        }

        &:hover.community {
            background-color: $communityDark;
            border-color: $communityDark;

        }

        &.academics {
            background-color: $academicsLight;
            border-color: $academicsLight;
        }

        &:hover.academics {
            background-color: $academicsMid;
            border-color: $academicsMid;

        }

        &.religious {
            background-color: $religiousLight;
            border-color: $religiousLight;
        }

        &:hover.religious {
            background-color: $religiousDark;
            border-color: $religiousDark;

        }

        &.environment {
            background-color: $environmentMid;
            border-color: $environmentMid;
        }
        
        &:hover.environment {
            background-color: $environmentDark;
            border-color: $environmentDark;
        }

        &.sociocultural {
            background-color: $socioculturalMid;
            border-color: $socioculturalMid;
        }

        &:hover.sociocultural {
            background-color: $socioculturalDark;
            border-color: $socioculturalDark;
        }
    }
}

.about-the-areas {
    background-color: $purpleMid;

    a:hover {
        &.community {
            color: $communityDark
        }

        &.academics {
            color: $academicsMid
        }

        &.religious {
            color: $religiousDark
        }

        &.environment {
            color: $environmentDark
        }

        &.sociocultural {
            color: $socioculturalDark
        }
    }
}

.the-officers {
    background-color: $greenDark;
    .officer {
        .officer-information {
            background-color: white;

            * {
                color: black
            }

            &::before {
                background-color: white;
            }
        }
    }
}

.call-to-action {
    background-color: $purpleMid;

    .call-to-join {

        .call-to-join-subheader {
            color: $purpleLight
        }

        .join-cares {
            background-color: transparent;
            border: .2rem solid $purpleLight;
            color: white;
    
            &:active {
                background-color: $purpleLight;
            }
        }
    }

    .faq {

        .faq-subheader {
            color: $purpleLight
        }

        .to-faq {
            background-color: transparent;
            border: .2rem solid $purpleLight;
            color: white;
    
            &:active {
                background-color: $purpleLight;
            }
        }
    }
}

.footer {
    background-color: $purpleDark;

    .motto {
        .motto-latin {
            color: white
        }

        .motto-translation {
            color: $greenMid;
        }
    }
}