$purpleDark: #614071;
$purpleMid: #ae8abf;
$purpleLight: #e6bbfa;
$greenDark: #97bd00;
$greenMid: #c1e62e;
$greenLight: #d6eb84;

body {
    background-color: $purpleDark;
}

.nav-bar {
    background-color: $purpleDark;

    .nav-to-home,
    .nav-to-podcares,
    .nav-to-areas {
        color: white;

        &:hover {
            color: $greenMid;
        }
    }
}

.carousel {
    .slide-controls {
        i {
            color: white;
            transition: color 100ms ease-out;
        }
        
        &:active i {
            color: $purpleLight
        }
    }

    .slide-indicator{
        .slide-dot {
            background-color: white;
            transition: all 100ms ease-in-out;
        }
    }

    .join-cares {
        background-color: $greenMid;
        transition: background-color 200ms;
        color: blacK;

        &:active {
            background-color: $greenDark;

        }
    }
}

.catch-up-with-cares {
    background-color: $purpleDark;

    .catch-up-with-cares-subheader {
        &:hover {
            a {
                color: $greenLight;
            }
        }
    }
}

.about-cares {
    background-color: $purpleMid;

    a:hover {
        color: $greenMid;
    }
}

.areas-display {
    background-color: $purpleDark;
}

.about-the-areas {
    background-color: $purpleMid;

    a:hover {
        color: $greenMid;
    }
}

.the-officers {
    background-color: $purpleLight;
}

.call-to-action {
    background-color: $purpleMid;
}

.footer {
    background-color: $purpleDark;
}