body {
  background-color: #614071;
}

.nav-bar {
  background-color: #614071;
}
.nav-bar .nav-to-home,
.nav-bar .nav-to-podcares,
.nav-bar .nav-to-areas {
  color: white;
}
.nav-bar .nav-to-home:hover,
.nav-bar .nav-to-podcares:hover,
.nav-bar .nav-to-areas:hover {
  color: #96ab41;
}

.footer {
  background-color: #614071;
}
.footer .motto .motto-latin {
  color: white;
}
.footer .motto .motto-translation {
  color: #96ab41;
}

.carousel .slide-controls i {
  color: white;
}
.carousel .slide-controls:active i {
  color: #e6bbfa;
}
.carousel .slide-indicator .slide-dot {
  background-color: white;
}
.carousel .join-cares {
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
}
.carousel .join-cares:active {
  background-color: #e6bbfa;
}

.catch-up-with-cares {
  background-color: #614071;
}
.catch-up-with-cares .catch-up-with-cares-subheader:hover a {
  color: #96ab41;
}
.catch-up-with-cares .catch-up-with-cares-date {
  color: #e6bbfa;
}

.about-cares {
  background-color: #ae8abf;
}
.about-cares a:hover.community {
  color: #ffe600;
}
.about-cares a:hover.academics {
  color: #d10000;
}
.about-cares a:hover.religious {
  color: #196ae3;
}
.about-cares a:hover.environment {
  color: #97bd00;
}
.about-cares a:hover.sociocultural {
  color: #ff8210;
}

.areas-display {
  background-color: #614071;
}
.areas-display .areas-container {
  border: 0.4rem solid;
  background-size: 100%;
}
.areas-display .areas-container.community {
  background-image: url("/Assets/Sigils/Community.png");
  border-color: #ffe600;
}
.areas-display .areas-container.community::before {
  background-color: #ffe600;
}
.areas-display .areas-container.academics {
  border-color: #d10000;
  background-image: url("/Assets/Sigils/Academics.png");
}
.areas-display .areas-container.academics::before {
  background-color: #d10000;
}
.areas-display .areas-container.religious {
  border-color: #196ae3;
  background-image: url("/Assets/Sigils/Religious.png");
}
.areas-display .areas-container.religious::before {
  background-color: #196ae3;
}
.areas-display .areas-container.environment {
  border-color: #97bd00;
  background-image: url("/Assets/Sigils/Environment.png");
}
.areas-display .areas-container.environment::before {
  background-color: #97bd00;
}
.areas-display .areas-container.sociocultural {
  border-color: #ff8210;
  background-image: url("/Assets/Sigils/Sociocultural.png");
}
.areas-display .areas-container.sociocultural::before {
  background-color: #ff8210;
}

.about-the-areas {
  background-color: #ae8abf;
}
.about-the-areas .feature-article {
  background-color: white;
}
.about-the-areas .feature-article .to-article {
  background-color: #614071;
}
.about-the-areas .feature-article .to-article:active {
  background-color: #5c700c;
  color: transparent;
}

.the-officers {
  background-color: #5c700c;
}
.the-officers .directory-controls i {
  color: white;
}
.the-officers .directory-controls:active i {
  color: #e6bbfa;
}
.the-officers .cp .flip-card-back,
.the-officers .ed .flip-card-back,
.the-officers .om .flip-card-back,
.the-officers .qa .flip-card-back,
.the-officers .aqa .flip-card-back,
.the-officers .fm .flip-card-back,
.the-officers .afm .flip-card-back {
  background-color: #614071;
}
.the-officers .commu-otl .flip-card-back,
.the-officers .commu-ctl .flip-card-back {
  background-color: #ffe600;
}
.the-officers .acad-otl .flip-card-back,
.the-officers .acad-ctl .flip-card-back {
  background-color: #d10000;
}
.the-officers .relig-otl .flip-card-back,
.the-officers .relig-ctl .flip-card-back {
  background-color: #196ae3;
}
.the-officers .envi-otl .flip-card-back,
.the-officers .envi-ctl .flip-card-back {
  background-color: #97bd00;
}
.the-officers .socio-otl .flip-card-back,
.the-officers .socio.ctl .flip-card-back {
  background-color: #ff8210;
}
.the-officers .cd .flip-card-back,
.the-officers .md .flip-card-back,
.the-officers .td .flip-card-back,
.the-officers .podcares .flip-card-back,
.the-officers .pc .flip-card-back {
  background-color: #ffb0f7;
}

.call-to-action {
  background-color: #ae8abf;
}
.call-to-action .call-to-join .call-to-join-subheader {
  color: #e6bbfa;
}
.call-to-action .call-to-join .join-cares {
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
}
.call-to-action .call-to-join .join-cares:active {
  background-color: #e6bbfa;
}
.call-to-action .faq .faq-subheader {
  color: #e6bbfa;
}
.call-to-action .faq .to-faq {
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
}
.call-to-action .faq .to-faq:active {
  background-color: #e6bbfa;
}

.faq-page-container {
  background-color: #ae8abf;
}
.faq-page-container .faq-inquiry .to-inquiry {
  background-color: #ae8abf;
  border: 0.2rem solid #e6bbfa;
  color: white;
}
.faq-page-container .faq-inquiry .to-inquiry:active {
  background-color: #e6bbfa;
}
.faq-page-container .faq-list .faq-search {
  background-color: #ae8abf;
  border: none;
  border-bottom: 0.15rem solid white;
}
.faq-page-container .faq-list .faq-search:focus {
  outline: none;
}
.faq-page-container .faq-list .faq-item {
  border-bottom: 0.15rem solid white;
}/*# sourceMappingURL=colors.css.map */