@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  flex: 0 0 4rem;
  align-items: center;
  padding-inline: 5rem;
  justify-content: space-between;
  z-index: 2000;
}
.nav-bar .nav-cares-logo {
  height: 3rem;
}
.nav-bar .nav-to-home,
.nav-bar .nav-to-podcares,
.nav-bar .nav-to-faq {
  color: white;
  transition: font-weight 200ms ease-in-out;
  text-align: center;
}
.nav-bar .nav-to-home:hover,
.nav-bar .nav-to-podcares:hover,
.nav-bar .nav-to-faq:hover {
  font-weight: 600;
}
.nav-bar .nav-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1.75rem;
  width: 27rem;
}
.nav-bar .nav-options .nav-to-areas {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: font-weight 200ms ease-in-out;
  text-align: center;
}
.nav-bar .nav-options .nav-to-areas:hover {
  font-weight: 600;
}

.footer {
  padding-inline: 5rem;
  display: grid;
  padding-inline: 10rem;
  padding-block: 3rem;
  grid-template-columns: 1fr 1fr;
}
.footer .motto .motto-latin {
  color: white;
  font-size: 4rem;
  font-style: italic;
}
.footer .motto .motto-translation {
  font-size: 1.25rem;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .contacts span {
  flex: 1 1 25%;
}
.footer .contacts a:hover {
  text-decoration: underline;
}

[data-page=Home] {
  background-color: #614071;
}
[data-page=Home] .nav-bar {
  background-color: #614071;
}
[data-page=Home] .nav-bar .nav-to-home:hover,
[data-page=Home] .nav-bar .nav-to-podcares:hover,
[data-page=Home] .nav-bar .nav-to-areas:hover,
[data-page=Home] .nav-bar .nav-to-faq:hover {
  color: #96ab41;
}
[data-page=Home] .footer {
  background-color: #614071;
}
[data-page=Home] .footer .motto .motto-translation {
  color: #96ab41;
}

.carousel {
  width: 100vw;
  flex: 0 0 calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  position: relative;
  overflow: hidden;
}
.carousel .logo {
  position: absolute;
  width: 30vw;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  box-shadow: inset;
  z-index: 100;
}
.carousel .slide-controls {
  position: absolute;
  z-index: 100;
  border: none;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .slide-controls.prev-slide {
  left: 0rem;
}
.carousel .slide-controls.next-slide {
  right: 0rem;
}
.carousel .slide-controls:disabled {
  display: none;
}
.carousel .slide-controls i {
  color: white;
  transition: color 100ms ease-out;
  font-size: 4.5rem;
}
.carousel .slide-controls:active i {
  color: #e6bbfa;
}
.carousel .slide {
  height: calc(100vh - 10rem);
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent 100%);
  transition: all 300ms ease-in-out;
}
.carousel .slide.community {
  -o-object-position: 0rem -6rem;
     object-position: 0rem -6rem;
}
.carousel .slide-indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
  grid-row: 1rem;
  gap: 0.5rem;
  z-index: 200;
}
.carousel .slide-indicator .slide-dot {
  width: 0.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transition: all 100ms ease-in-out;
}
.carousel .join-cares {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  bottom: 3.5rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
  transition: background-color 200ms;
}
.carousel .join-cares:active {
  background-color: #e6bbfa;
}
.carousel[data-slide="0"] .slide {
  transform: translateX(0%);
}
.carousel[data-slide="0"] .slide-indicator .slide-dot.community {
  transform: scale(200%);
}
.carousel[data-slide="1"] .slide {
  transform: translateX(-100%);
}
.carousel[data-slide="1"] .slide-indicator .slide-dot.academics {
  transform: scale(200%);
}
.carousel[data-slide="2"] .slide {
  transform: translateX(-200%);
}
.carousel[data-slide="2"] .slide-indicator .slide-dot.religious {
  transform: scale(200%);
}
.carousel[data-slide="3"] .slide {
  transform: translateX(-300%);
}
.carousel[data-slide="3"] .slide-indicator .slide-dot.environment {
  transform: scale(200%);
}
.carousel[data-slide="4"] .slide {
  transform: translateX(-400%);
}
.carousel[data-slide="4"] .slide-indicator .slide-dot.sociocultural {
  transform: scale(200%);
}

.catch-up-with-cares {
  flex: 1 0 calc(100vh - 10rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: #614071;
}
.catch-up-with-cares .catch-up-with-cares-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 2;
  flex: 1 0 10rem;
  max-height: 30rem;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
  border-radius: 2rem 2rem 0rem 0rem;
}
.catch-up-with-cares .catch-up-with-cares-header {
  font-size: 2rem;
}
.catch-up-with-cares .catch-up-with-cares-subheader {
  position: absolute;
  z-index: 200;
  bottom: 4rem;
}
.catch-up-with-cares .catch-up-with-cares-subheader a {
  font-size: 1.5rem;
}
.catch-up-with-cares .catch-up-with-cares-subheader:hover a {
  color: #96ab41;
  text-decoration: underline;
}
.catch-up-with-cares .catch-up-with-cares-date {
  position: absolute;
  z-index: 200;
  bottom: 2rem;
  color: #e6bbfa;
  font-style: italic;
}

.about-cares {
  width: 100%;
  padding-inline: 8rem;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 1rem;
  place-items: center;
  background-color: #ae8abf;
}
.about-cares .cares-rx-logo {
  width: 100%;
}
.about-cares .about-cares-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-cares .about-cares-article .about-cares-header {
  font-size: 2.25rem;
  text-decoration: underline;
}
.about-cares .about-cares-article .about-cares-subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  opacity: 0.75;
  font-style: italic;
}
.about-cares .about-cares-article p {
  text-align: justify;
}
.about-cares .about-cares-article p, .about-cares .about-cares-article p * {
  font-size: 1.5rem;
}
.about-cares .about-cares-article a:hover.community {
  color: #f5be07;
  text-decoration: underline;
}
.about-cares .about-cares-article a:hover.academics {
  color: #d10000;
  text-decoration: underline;
}
.about-cares .about-cares-article a:hover.religious {
  color: #447ed4;
  text-decoration: underline;
}
.about-cares .about-cares-article a:hover.environment {
  color: #97bd00;
  text-decoration: underline;
}
.about-cares .about-cares-article a:hover.sociocultural {
  color: #ff8210;
  text-decoration: underline;
}

.areas-display {
  padding-inline: 10rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #614071;
}
.areas-display .areas-container {
  aspect-ratio: 1;
  width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  border: 0.4rem solid;
  background-size: 100%;
  transition: border-radius 100ms, transform 100ms;
}
.areas-display .areas-container:hover .link-to-area {
  width: auto;
  letter-spacing: normal;
  position: relative;
}
.areas-display .areas-container:hover .link-to-area::after {
  width: 100%;
}
.areas-display .areas-container:hover .link-to-area.community {
  font-size: 1.3rem;
}
.areas-display .areas-container:hover .link-to-area.academics {
  font-size: 1.3rem;
}
.areas-display .areas-container:hover .link-to-area.religious {
  font-size: 1.5rem;
}
.areas-display .areas-container:hover .link-to-area.environment {
  font-size: 1.1rem;
}
.areas-display .areas-container:hover .link-to-area.sociocultural {
  font-size: 1rem;
}
.areas-display .areas-container::before {
  transition: opacity 200ms ease-out;
}
.areas-display .areas-container .link-to-area {
  width: 1ch;
  display: inline-block;
  vertical-align: middle;
  transition: font-size 300ms ease-out, letter-spacing 300ms ease-out, padding-left 300ms ease-out;
  font-family: "Roboto Mono", monospace;
  font-size: 8rem;
  line-height: 0.55;
  letter-spacing: 5rem;
  font-weight: 600;
}
.areas-display .areas-container .link-to-area::after {
  position: absolute;
  right: 0;
  content: "";
  width: 0%;
  background-color: white;
  transition: width 300ms ease-out;
}
.areas-display .areas-container .link-to-area.community::after {
  height: 0.2rem;
  bottom: -0.3rem;
}
.areas-display .areas-container .link-to-area.academics::after {
  height: 0.2rem;
  bottom: -0.3rem;
}
.areas-display .areas-container .link-to-area.religious::after {
  height: 0.2rem;
  bottom: -0.4rem;
}
.areas-display .areas-container .link-to-area.environment::after {
  height: 0.2rem;
  bottom: -0.35rem;
}
.areas-display .areas-container .link-to-area.sociocultural::after {
  height: 0.17rem;
  bottom: -0.37rem;
}
.areas-display .areas-container.community {
  background-image: url("/Assets/Sigils/Community.png");
  border-color: #f5be07;
}
.areas-display .areas-container.community::before {
  background-color: #f5be07;
}
.areas-display .areas-container.academics {
  border-color: #d10000;
  background-image: url("/Assets/Sigils/Academics.png");
}
.areas-display .areas-container.academics::before {
  background-color: #d10000;
}
.areas-display .areas-container.religious {
  border-color: #447ed4;
  background-image: url("/Assets/Sigils/Religious.png");
}
.areas-display .areas-container.religious::before {
  background-color: #447ed4;
}
.areas-display .areas-container.environment {
  border-color: #97bd00;
  background-image: url("/Assets/Sigils/Environment.png");
}
.areas-display .areas-container.environment::before {
  background-color: #97bd00;
}
.areas-display .areas-container.sociocultural {
  border-color: #ff8210;
  background-image: url("/Assets/Sigils/Sociocultural.png");
}
.areas-display .areas-container.sociocultural::before {
  background-color: #ff8210;
}
.areas-display .areas-container:hover {
  border-radius: 2rem;
  transform: scale(110%);
}
.areas-display .areas-container:hover::before {
  opacity: 0;
}
.areas-display .areas-container::before {
  position: absolute;
  content: "";
  width: calc(100% + 0.8rem);
  aspect-ratio: 1;
}
.areas-display .areas-container a {
  z-index: 20;
}

.about-the-areas {
  width: 100%;
  padding-inline: 12rem;
  padding-block: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ae8abf;
}
.about-the-areas .about-the-areas-header {
  flex: 1 1 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.about-the-areas .feature-article {
  flex: 0 0 16rem;
  height: 25rem;
  background-color: red;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: white;
  font-size: 3rem;
  text-align: center;
}
.about-the-areas .feature-article .feature-image {
  width: 100%;
  max-height: 75%;
  aspect-ratio: 8/7;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.about-the-areas .feature-article .to-article {
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  background-color: #614071;
  transition: background-color 200ms;
}
.about-the-areas .feature-article .to-article:active {
  background-color: #5c700c;
  color: white;
}

.the-officers {
  width: 100vw;
  position: relative;
  display: grid;
  padding-top: 7rem;
  padding-block-end: 1rem;
  gap: 1rem;
  background-color: #5c700c;
}
.the-officers .the-officers-heading {
  position: absolute;
  padding-top: 1rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  text-align: center;
}
.the-officers .directory-scroll {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: auto;
  margin-inline: 2rem;
  align-items: center;
  padding-block: 1rem;
  overflow-y: hidden;
}
.the-officers .flip-card {
  width: 18rem;
  background-color: transparent;
  perspective: 1000px;
}
.the-officers .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.the-officers .flip-card .flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  aspect-ratio: 288/456;
  transition: transform 500ms ease-out;
}
.the-officers .flip-card .flip-card-inner .flip-card-front {
  position: absolute;
  backface-visibility: hidden;
}
.the-officers .flip-card .flip-card-inner .flip-card-front .officer-image {
  width: 100%;
  border-radius: 2rem;
}
.the-officers .flip-card .flip-card-inner .flip-card-back {
  width: 100%;
  aspect-ratio: 288/432;
  border-radius: 2rem;
  padding: 1.2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.the-officers .flip-card .flip-card-inner .flip-card-back .rank {
  font-size: 2rem;
  text-align: center;
}
.the-officers .flip-card .flip-card-inner .flip-card-back .name {
  margin-top: 3rem;
  font-size: 0.9rem;
  text-align: center;
}
.the-officers .flip-card .flip-card-inner .flip-card-back .position {
  font-style: italic;
  text-align: center;
  opacity: 0.6;
}
.the-officers .flip-card .flip-card-inner .flip-card-back .nickname {
  margin-bottom: 3rem;
  opacity: 0.6;
  font-size: 0.8rem;
  text-align: center;
}
.the-officers .flip-card .flip-card-inner .flip-card-back .contact {
  margin-bottom: 0.75rem;
}
.the-officers .flip-card .flip-card-inner .flip-card-back .contact i {
  font-size: 2rem;
}
.the-officers .cp .flip-card-back, .the-officers .ed .flip-card-back, .the-officers .om .flip-card-back, .the-officers .qa .flip-card-back,
.the-officers .aqa .flip-card-back, .the-officers .fm .flip-card-back, .the-officers .afm .flip-card-back {
  background-color: #614071;
}
.the-officers .commu-otl .flip-card-back,
.the-officers .commu-ctl .flip-card-back {
  background-color: #f5be07;
}
.the-officers .acad-otl .flip-card-back,
.the-officers .acad-ctl .flip-card-back {
  background-color: #d10000;
}
.the-officers .relig-otl .flip-card-back,
.the-officers .relig-ctl .flip-card-back {
  background-color: #447ed4;
}
.the-officers .envi-otl .flip-card-back,
.the-officers .envi-ctl .flip-card-back {
  background-color: #97bd00;
}
.the-officers .socio-otl .flip-card-back,
.the-officers .socio-ctl .flip-card-back {
  background-color: #ff8210;
}
.the-officers .cd .flip-card-back, .the-officers .md .flip-card-back, .the-officers .td .flip-card-back,
.the-officers .podcares .flip-card-back, .the-officers .pc .flip-card-back {
  background-color: #ffb0f7;
}

.call-to-action {
  padding-inline: 10rem;
  padding-block: 4rem;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #ae8abf;
}
.call-to-action .call-to-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.call-to-action .call-to-join .call-to-join-header {
  text-align: center;
  font-size: 2rem;
}
.call-to-action .call-to-join .call-to-join-subheader {
  text-align: center;
  color: #e6bbfa;
}
.call-to-action .call-to-join .join-cares {
  margin-top: 1rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
  align-self: center;
  width: 8rem;
  text-align: center;
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
  transition: background-color 200ms;
}
.call-to-action .call-to-join .join-cares:active {
  background-color: #e6bbfa;
}
.call-to-action .faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.call-to-action .faq .faq-header {
  text-align: center;
  font-size: 2rem;
}
.call-to-action .faq .faq-subheader {
  text-align: center;
  color: #e6bbfa;
}
.call-to-action .faq .to-faq {
  margin-top: 1rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
  align-self: center;
  width: 8rem;
  text-align: center;
  background-color: transparent;
  border: 0.2rem solid #e6bbfa;
  color: white;
  transition: background-color 200ms;
}
.call-to-action .faq .to-faq:active {
  background-color: #e6bbfa;
}

.intro-to-area {
  flex: 1 0 calc((100vh - 10rem) * 0.75);
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-left: 8rem;
  gap: 1rem;
  place-items: center;
}
.intro-to-area .area-page-header {
  padding-left: 2rem;
  position: relative;
  font-size: 7.5rem;
}
.intro-to-area .area-page-header::before {
  content: attr(data-preamble);
  position: absolute;
  font-size: 2rem;
}
.intro-to-area .area-page-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: white;
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 35%, transparent 100%);
          mask-image: linear-gradient(to left, rgb(0, 0, 0) 35%, transparent 100%);
}

.recent-activities {
  display: grid;
  grid-template-rows: 4rem 1fr;
  padding-block: 1rem 2rem;
  gap: 2rem 0rem;
}
.recent-activities .recent-activities-header {
  font-size: 3rem;
  text-align: center;
}
.recent-activities .recent-activities-scroll {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  overflow-x: scroll;
  padding-inline: 10rem;
  justify-content: start;
  align-self: center;
  align-items: center;
}
.recent-activities .recent-activities-scroll .activity {
  min-width: 18rem;
  height: 24rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-row: 12rem 1.5rem 1fr 1fr;
  gap: 0.75rem;
  background-color: white;
}
.recent-activities .recent-activities-scroll .activity .activity-image {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: lightgray;
}
.recent-activities .recent-activities-scroll .activity .activity-title {
  color: black;
  font-size: 1.25rem;
  text-align: center;
}
.recent-activities .recent-activities-scroll .activity .activity-date {
  color: black;
  font-style: italic;
  text-align: center;
}
.recent-activities .recent-activities-scroll .activity .activity-link {
  place-self: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
}

.all-about-area {
  display: grid;
  position: relative;
}
.all-about-area .work-image {
  width: 100%;
  height: calc(100vh - 10rem);
  aspect-ratio: 3/2;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: black;
}
.all-about-area .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 2rem;
}
.all-about-area .work .work-header {
  font-size: 2rem;
}
.all-about-area .work .work-content {
  width: 60%;
  font-size: 1rem;
  text-align: center;
  line-height: 2;
}

.area-call-to-action {
  padding-block: 2rem 1rem;
  padding-inline: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.area-call-to-action .for-you {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.area-call-to-action .for-you .for-you-header {
  text-align: center;
  font-size: 2rem;
  text-shadow: -0.1rem -0.1rem 0 white, 0.1rem -0.1rem 0 white, -0.1rem 0.1rem 0 white, 0.1rem 0.1rem 0 white;
}
.area-call-to-action .for-you .for-you-content {
  width: 60%;
  text-align: justify;
  text-shadow: -0.05rem -0.05rem 0 white, 0.05rem -0.05rem 0 white, -0.05rem 0.05rem 0 white, 0.05rem 0.05rem 0 white;
}
.area-call-to-action .for-you .join-cares {
  margin-top: 1rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
  align-self: center;
  width: 8rem;
  text-align: center;
  background-color: transparent;
  border: 0.2rem solid;
  color: white;
  transition: background-color 200ms, color 200ms;
}
.area-call-to-action .alternatives {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.area-call-to-action .alternatives .alternatives-header {
  text-align: center;
  font-size: 2rem;
  text-shadow: -0.1rem -0.1rem 0 white, 0.1rem -0.1rem 0 white, -0.1rem 0.1rem 0 white, 0.1rem 0.1rem 0 white;
}
.area-call-to-action .alternatives .alternatives-content {
  width: 60%;
  text-align: justify;
  text-shadow: -0.05rem -0.05rem 0 white, 0.05rem -0.05rem 0 white, -0.05rem 0.05rem 0 white, 0.05rem 0.05rem 0 white;
}
.area-call-to-action .alternatives .check-areas {
  margin-top: 1rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
  align-self: center;
  width: 10rem;
  text-align: center;
  background-color: transparent;
  border: 0.2rem solid;
  color: white;
  transition: background-color 200ms, color 200ms;
}

[data-page=Community] {
  background-color: #f5be07;
}
[data-page=Community] .nav-bar {
  background-color: #f5be07;
}
[data-page=Community] .nav-bar .nav-to-home:hover,
[data-page=Community] .nav-bar .nav-to-podcares:hover,
[data-page=Community] .nav-bar .nav-to-areas:hover,
[data-page=Community] .nav-bar .nav-to-faq:hover {
  color: white;
  opacity: 0.6rem;
}
[data-page=Community] .footer {
  background-color: #f5be07;
}
[data-page=Community] .footer .motto .motto-translation {
  color: white;
  opacity: 0.6;
}
[data-page=Community] .intro-to-area {
  background-color: #ffd400;
}
[data-page=Community] .recent-activities {
  background-color: #ffec3d;
}
[data-page=Community] .recent-activities .recent-activities-scroll .activity .activity-link {
  background-color: #ffd400;
  transition: background-color 200ms;
}
[data-page=Community] .recent-activities .recent-activities-scroll .activity .activity-link:active {
  background-color: #f5be07;
}
[data-page=Community] .all-about-area {
  background-color: #ffd400;
}
[data-page=Community] .area-call-to-action {
  background-color: #ffec3d;
}
[data-page=Community] .area-call-to-action .for-you .for-you-header {
  color: #f5be07;
}
[data-page=Community] .area-call-to-action .for-you .for-you-content {
  color: #f5be07;
}
[data-page=Community] .area-call-to-action .for-you .join-cares {
  background-color: #ffd400;
  border-color: #ffd400;
}
[data-page=Community] .area-call-to-action .for-you .join-cares:active {
  background-color: #f5be07;
  border-color: #f5be07;
  color: white;
}
[data-page=Community] .area-call-to-action .alternatives .alternatives-header {
  color: #f5be07;
}
[data-page=Community] .area-call-to-action .alternatives .alternatives-content {
  color: #f5be07;
}
[data-page=Community] .area-call-to-action .alternatives .check-areas {
  background-color: #ffd400;
  border-color: #ffd400;
}
[data-page=Community] .area-call-to-action .alternatives .check-areas:active {
  background-color: #f5be07;
  border-color: #f5be07;
  color: white;
}

[data-page=Academics] {
  background-color: #990e0e;
}
[data-page=Academics] .nav-bar {
  background-color: #990e0e;
}
[data-page=Academics] .nav-bar .nav-to-home:hover,
[data-page=Academics] .nav-bar .nav-to-podcares:hover,
[data-page=Academics] .nav-bar .nav-to-areas:hover,
[data-page=Academics] .nav-bar .nav-to-faq:hover {
  color: white;
  opacity: 0.6rem;
}
[data-page=Academics] .footer {
  background-color: #990e0e;
}
[data-page=Academics] .footer .motto .motto-translation {
  color: white;
  opacity: 0.6;
}
[data-page=Academics] .intro-to-area {
  background-color: #d10000;
}
[data-page=Academics] .recent-activities {
  background-color: #fc0000;
}
[data-page=Academics] .recent-activities .recent-activities-scroll .activity .activity-link {
  background-color: #d10000;
  transition: background-color 200ms;
}
[data-page=Academics] .recent-activities .recent-activities-scroll .activity .activity-link:active {
  background-color: #990e0e;
}
[data-page=Academics] .all-about-area {
  background-color: #d10000;
}
[data-page=Academics] .area-call-to-action {
  background-color: #fc0000;
}
[data-page=Academics] .area-call-to-action .for-you .for-you-header {
  color: #990e0e;
}
[data-page=Academics] .area-call-to-action .for-you .for-you-content {
  color: #990e0e;
}
[data-page=Academics] .area-call-to-action .for-you .join-cares {
  background-color: #d10000;
  border-color: #d10000;
}
[data-page=Academics] .area-call-to-action .for-you .join-cares:active {
  background-color: #990e0e;
  border-color: #990e0e;
  color: white;
}
[data-page=Academics] .area-call-to-action .alternatives .alternatives-header {
  color: #990e0e;
}
[data-page=Academics] .area-call-to-action .alternatives .alternatives-content {
  color: #990e0e;
}
[data-page=Academics] .area-call-to-action .alternatives .check-areas {
  background-color: #d10000;
  border-color: #d10000;
}
[data-page=Academics] .area-call-to-action .alternatives .check-areas:active {
  background-color: #990e0e;
  border-color: #990e0e;
  color: white;
}

[data-page=Religious] {
  background-color: #447ed4;
}
[data-page=Religious] .nav-bar {
  background-color: #447ed4;
}
[data-page=Religious] .nav-bar .nav-to-home:hover,
[data-page=Religious] .nav-bar .nav-to-podcares:hover,
[data-page=Religious] .nav-bar .nav-to-areas:hover,
[data-page=Religious] .nav-bar .nav-to-faq:hover {
  color: white;
  opacity: 0.6rem;
}
[data-page=Religious] .footer {
  background-color: #447ed4;
}
[data-page=Religious] .footer .motto .motto-translation {
  color: white;
  opacity: 0.6;
}
[data-page=Religious] .intro-to-area {
  background-color: #6a96d2;
}
[data-page=Religious] .recent-activities {
  background-color: #accbf8;
}
[data-page=Religious] .recent-activities .recent-activities-scroll .activity .activity-link {
  background-color: #6a96d2;
  transition: background-color 200ms;
}
[data-page=Religious] .recent-activities .recent-activities-scroll .activity .activity-link:active {
  background-color: #447ed4;
}
[data-page=Religious] .all-about-area {
  background-color: #6a96d2;
}
[data-page=Religious] .area-call-to-action {
  background-color: #accbf8;
}
[data-page=Religious] .area-call-to-action .for-you .for-you-header {
  color: #447ed4;
}
[data-page=Religious] .area-call-to-action .for-you .for-you-content {
  color: #447ed4;
}
[data-page=Religious] .area-call-to-action .for-you .join-cares {
  background-color: #6a96d2;
  border-color: #6a96d2;
}
[data-page=Religious] .area-call-to-action .for-you .join-cares:active {
  background-color: #447ed4;
  border-color: #447ed4;
  color: white;
}
[data-page=Religious] .area-call-to-action .alternatives .alternatives-header {
  color: #447ed4;
}
[data-page=Religious] .area-call-to-action .alternatives .alternatives-content {
  color: #447ed4;
}
[data-page=Religious] .area-call-to-action .alternatives .check-areas {
  background-color: #6a96d2;
  border-color: #6a96d2;
}
[data-page=Religious] .area-call-to-action .alternatives .check-areas:active {
  background-color: #447ed4;
  border-color: #447ed4;
  color: white;
}

[data-page=Environment] {
  background-color: #97bd00;
}
[data-page=Environment] .nav-bar {
  background-color: #97bd00;
}
[data-page=Environment] .nav-bar .nav-to-home:hover,
[data-page=Environment] .nav-bar .nav-to-podcares:hover,
[data-page=Environment] .nav-bar .nav-to-areas:hover,
[data-page=Environment] .nav-bar .nav-to-faq:hover {
  color: white;
  opacity: 0.6rem;
}
[data-page=Environment] .footer {
  background-color: #97bd00;
}
[data-page=Environment] .footer .motto .motto-translation {
  color: white;
  opacity: 0.6;
}
[data-page=Environment] .intro-to-area {
  background-color: #c1e62e;
}
[data-page=Environment] .intro-to-area .area-page-header {
  font-size: 6rem;
}
[data-page=Environment] .recent-activities {
  background-color: #d6eb84;
}
[data-page=Environment] .recent-activities .recent-activities-scroll .activity .activity-link {
  background-color: #c1e62e;
  transition: background-color 200ms;
}
[data-page=Environment] .recent-activities .recent-activities-scroll .activity .activity-link:active {
  background-color: #97bd00;
}
[data-page=Environment] .all-about-area {
  background-color: #c1e62e;
}
[data-page=Environment] .area-call-to-action {
  background-color: #d6eb84;
}
[data-page=Environment] .area-call-to-action .for-you .for-you-header {
  color: #97bd00;
}
[data-page=Environment] .area-call-to-action .for-you .for-you-content {
  color: #97bd00;
}
[data-page=Environment] .area-call-to-action .for-you .join-cares {
  background-color: #c1e62e;
  border-color: #c1e62e;
}
[data-page=Environment] .area-call-to-action .for-you .join-cares:active {
  background-color: #97bd00;
  border-color: #97bd00;
  color: white;
}
[data-page=Environment] .area-call-to-action .alternatives .alternatives-header {
  color: #97bd00;
}
[data-page=Environment] .area-call-to-action .alternatives .alternatives-content {
  color: #97bd00;
}
[data-page=Environment] .area-call-to-action .alternatives .check-areas {
  background-color: #c1e62e;
  border-color: #c1e62e;
}
[data-page=Environment] .area-call-to-action .alternatives .check-areas:active {
  background-color: #97bd00;
  border-color: #97bd00;
  color: white;
}

[data-page=Sociocultural] {
  background-color: #ff8210;
}
[data-page=Sociocultural] .nav-bar {
  background-color: #ff8210;
}
[data-page=Sociocultural] .nav-bar .nav-to-home:hover,
[data-page=Sociocultural] .nav-bar .nav-to-podcares:hover,
[data-page=Sociocultural] .nav-bar .nav-to-areas:hover,
[data-page=Sociocultural] .nav-bar .nav-to-faq:hover {
  color: white;
  opacity: 0.6rem;
}
[data-page=Sociocultural] .footer {
  background-color: #ff8210;
}
[data-page=Sociocultural] .footer .motto .motto-translation {
  color: white;
  opacity: 0.6;
}
[data-page=Sociocultural] .intro-to-area {
  background-color: #ff983a;
}
[data-page=Sociocultural] .intro-to-area .area-page-header {
  font-size: 6rem;
}
[data-page=Sociocultural] .recent-activities {
  background-color: #fdb069;
}
[data-page=Sociocultural] .recent-activities .recent-activities-scroll .activity .activity-link {
  background-color: #ff983a;
  transition: background-color 200ms;
}
[data-page=Sociocultural] .recent-activities .recent-activities-scroll .activity .activity-link:active {
  background-color: #ff8210;
}
[data-page=Sociocultural] .all-about-area {
  background-color: #ff983a;
}
[data-page=Sociocultural] .area-call-to-action {
  background-color: #fdb069;
}
[data-page=Sociocultural] .area-call-to-action .for-you .for-you-header {
  color: #ff8210;
}
[data-page=Sociocultural] .area-call-to-action .for-you .for-you-content {
  color: #ff8210;
}
[data-page=Sociocultural] .area-call-to-action .for-you .join-cares {
  background-color: #ff983a;
  border-color: #ff983a;
}
[data-page=Sociocultural] .area-call-to-action .for-you .join-cares:active {
  background-color: #ff8210;
  border-color: #ff8210;
  color: white;
}
[data-page=Sociocultural] .area-call-to-action .alternatives .alternatives-header {
  color: #ff8210;
}
[data-page=Sociocultural] .area-call-to-action .alternatives .alternatives-content {
  color: #ff8210;
}
[data-page=Sociocultural] .area-call-to-action .alternatives .check-areas {
  background-color: #ff983a;
  border-color: #ff983a;
}
[data-page=Sociocultural] .area-call-to-action .alternatives .check-areas:active {
  background-color: #ff8210;
  border-color: #ff8210;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    padding-inline: 0.5rem;
    max-height: 4rem;
  }
  .nav-bar .nav-cares-logo {
    height: 3rem;
  }
  .nav-bar .nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    width: 70%;
  }
  .nav-bar .nav-options .nav-to-areas,
  .nav-bar .nav-options .nav-to-home,
  .nav-bar .nav-options .nav-to-podcares,
  .nav-bar .nav-options .nav-to-faq {
    font-size: 1.75svh;
  }
  .nav-bar .nav-options .nav-to-areas {
    width: 3.5rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block: 2rem 3rem;
    gap: 1rem;
  }
  .footer .motto .motto-latin {
    font-size: 1rem;
    text-align: center;
  }
  .footer .motto .motto-translation {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  .footer .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 0rem;
  }
  .footer .contacts span {
    flex-basis: 50%;
  }
  .footer .contacts span, .footer .contacts span * {
    font-size: 0.6rem;
  }
  .carousel {
    flex-basis: 70svh;
  }
  .carousel .logo {
    width: 70svw;
  }
  .carousel .slide.community,
  .carousel .slide.academics,
  .carousel .slide.religious,
  .carousel .slide.environment,
  .carousel .slide.sociocultural {
    height: 120%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(0, 0, 0) 100%);
            mask-image: linear-gradient(to top, transparent 10%, rgb(0, 0, 0) 100%);
  }
  .carousel .slide-controls i {
    font-size: 3.5rem;
  }
  .catch-up-with-cares {
    flex-basis: auto;
    gap: 0.75rem;
  }
  .catch-up-with-cares .catch-up-with-cares-header {
    font-size: 1.5rem;
  }
  .catch-up-with-cares .catch-up-with-cares-subheader {
    width: 80svw;
    bottom: 1.75rem;
    text-align: center;
    line-height: 1.1;
  }
  .catch-up-with-cares .catch-up-with-cares-subheader a {
    font-size: 0.75rem;
    text-align: center;
  }
  .catch-up-with-cares .catch-up-with-cares-date {
    bottom: 0.5rem;
    font-size: 0.75rem;
  }
  .catch-up-with-cares .catch-up-with-cares-image {
    width: 90svw;
  }
  .about-cares {
    padding: 1.5rem;
    padding-inline: calc(1rem + 6svw);
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }
  .about-cares .cares-rx-logo {
    width: 10rem;
  }
  .about-cares .about-cares-article .about-cares-header {
    font-size: 1.5rem;
    text-align: center;
  }
  .about-cares .about-cares-article .about-cares-subtitle {
    font-size: 1rem;
  }
  .about-cares .about-cares-article .about-cares-paragraph,
  .about-cares .about-cares-article .about-cares-paragraph * {
    font-size: 1rem;
  }
  .areas-display {
    padding-inline: 1rem;
    gap: 1rem;
  }
  .areas-display .areas-container {
    border-width: 0.2rem;
  }
  .areas-display .areas-container .link-to-area::after {
    display: none;
  }
  .areas-display .areas-container .link-to-area {
    font-size: 12svw;
  }
  .areas-display .areas-container:hover {
    border-radius: 0.5rem;
  }
  .areas-display .areas-container:hover .link-to-area.community {
    padding-left: 0;
    font-size: 2svw;
  }
  .areas-display .areas-container:hover .link-to-area.academics {
    padding-left: 0;
    font-size: 2svw;
  }
  .areas-display .areas-container:hover .link-to-area.religious {
    padding-left: 0;
    font-size: 2.2svw;
  }
  .areas-display .areas-container:hover .link-to-area.environment {
    padding-left: 0;
    font-size: 1.75svw;
  }
  .areas-display .areas-container:hover .link-to-area.sociocultural {
    padding-left: 0;
    font-size: 1.75svw;
  }
  .about-the-areas {
    padding-inline: 1rem;
    padding-block: 1rem;
    gap: 1rem;
  }
  .about-the-areas .about-the-areas-header {
    font-size: 2rem;
  }
  .about-the-areas .feature-article {
    height: 20rem;
    gap: 0.75rem;
  }
  .the-officers .the-officers-heading {
    font-size: 2rem;
  }
  .the-officers .directory-scroll {
    gap: 2rem;
  }
  .the-officers .directory-scroll .officer:nth-child(1) {
    margin-left: 1rem;
  }
  .the-officers .directory-scroll .officer:nth-last-child(1) {
    margin-right: 0.5rem;
  }
  .call-to-action {
    padding: 1rem;
  }
  .call-to-action .call-to-join .call-to-join-header {
    font-size: 1rem;
  }
  .call-to-action .call-to-join .call-to-join-subheader {
    font-size: 0.75rem;
  }
  .call-to-action .call-to-join .join-cares {
    padding-block: 0.5rem;
    width: 6.5rem;
    font-size: 0.75rem;
  }
  .call-to-action .faq .faq-header {
    font-size: 1rem;
  }
  .call-to-action .faq .faq-subheader {
    font-size: 0.75rem;
  }
  .call-to-action .faq .to-faq {
    padding-block: 0.5rem;
    width: 6.5rem;
    font-size: 0.75rem;
  }
  .intro-to-area {
    padding: 0rem;
    position: relative;
    display: block;
  }
  .intro-to-area .area-page-header {
    position: absolute;
    z-index: 200;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    padding: 0;
    font-size: 3.5rem;
  }
  .intro-to-area .area-page-header::before {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }
  .intro-to-area .area-page-image {
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
    max-height: 70svh;
  }
  .recent-activities {
    padding-inline: 1rem;
    padding-block: 1.5rem;
  }
  .recent-activities .recent-activities-header {
    font-size: 2rem;
    text-align: center;
  }
  .recent-activities .recent-activities-scroll {
    padding-inline: 3rem;
    gap: 2.5rem;
  }
  .all-about-area .work-image {
    max-height: 70svh;
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 10%, transparent 100%);
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 10%, transparent 100%);
  }
  .all-about-area .work .work-content {
    line-height: 1.5;
    text-align: justify;
  }
  .area-call-to-action {
    padding: 1.5rem 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  [data-page=Environment] .intro-to-area .area-page-header {
    font-size: 3.25rem;
  }
  [data-page=Sociocultural] .intro-to-area .area-page-header {
    font-size: 2.75rem;
  }
}/*# sourceMappingURL=style.css.map */