$navbarHeight: 4rem;
$fullSectionHeight: calc(100vh - 10rem);
$footerHeight: calc(60vh - 6rem);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: $navbarHeight;
    align-items: center;
    padding-inline: 5rem;
    justify-content: space-between;
    z-index: 2000;

    .nav-cares-logo {
        height: 3rem;
    }

    .nav-options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 1.75rem;
        width: 27rem;

        .nav-to-areas {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
} 

.carousel {
    width: 100vw;
    max-height: $fullSectionHeight;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
    position: relative;
    overflow: hidden;

    .logo {
        position: absolute;
        width: 30vw;
        left: 50%;
        transform: translateX(-50%);
        top: 3rem;
        box-shadow: inset;
        z-index: 100;
    }

    .slide-controls {
        position: absolute;
        z-index: 100;
        border: none;
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);

        &.prev-slide {
            left: 0rem;
        }

        &.next-slide {
            right: 0rem;
        }

        &:disabled {
            display: none;
        }
    }

    .slide {
        height: $fullSectionHeight;
        width: 100vw;
        object-fit: cover;
        object-position: center;
        transition: all 300ms ease-in-out;

        &.community {
            object-position: 0rem -4rem;
        }
    }

    .slide-indicator {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
        grid-row: 1rem;
        gap: 1rem;
        z-index: 200;
        .slide-dot {
            width: 1rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    &[data-slide="0"] {
        .slide {
            transform: translateX(0%);
        }

        .slide-indicator {
            .slide-dot.community {
                transform: scale(125%);
            }
        }
    }

    &[data-slide="1"] {
        .slide {
            transform: translateX(-100%);
        }

        .slide-indicator {
            .slide-dot.academics {
                transform: scale(125%);
            }
        }
    }

    &[data-slide="2"] {
        .slide {
            transform: translateX(-200%);
        }

        .slide-indicator {
            .slide-dot.religious {
                transform: scale(125%);
            }
        }
    }

    &[data-slide="3"] {
        .slide {
            transform: translateX(-300%);
        }
        
        .slide-indicator {
            .slide-dot.environment {
                transform: scale(125%);
            }
        }
    }

    &[data-slide="4"] {
        .slide {
            transform: translateX(-400%);
        }

        .slide-indicator {
            .slide-dot.sociocultural {
                transform: scale(125%);
            }
        }
    }
}

.about-cares {
    width: 100%;
    height: $fullSectionHeight;
    background-color: blue;
    padding-inline: 8rem;

    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 1rem;
    place-items: center;

    .cares-rx-logo {
        width: 100%;

    }

    .about-cares-article {
        display: flex;
        flex-direction: column;

        .about-cares-subtitle {
            margin-bottom: 1rem;
        }
    }
}

.footer {
    padding-inline: 5rem;
    height: $footerHeight;
    background-color: green;
}