* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  flex: 0 0 4rem;
  align-items: center;
  padding-inline: 5rem;
  justify-content: space-between;
  z-index: 2000;
}
.nav-bar .nav-cares-logo {
  height: 3rem;
}
.nav-bar .nav-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1.75rem;
  width: 27rem;
}
.nav-bar .nav-options .nav-to-areas {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.carousel {
  width: 100vw;
  flex: 0 0 calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  position: relative;
  overflow: hidden;
}
.carousel .logo {
  position: absolute;
  width: 30vw;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  box-shadow: inset;
  z-index: 100;
}
.carousel .slide-controls {
  position: absolute;
  z-index: 100;
  border: none;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .slide-controls.prev-slide {
  left: 0rem;
}
.carousel .slide-controls.next-slide {
  right: 0rem;
}
.carousel .slide-controls:disabled {
  display: none;
}
.carousel .slide {
  height: calc(100vh - 10rem);
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent 100%);
}
.carousel .slide.community {
  -o-object-position: 0rem -6rem;
     object-position: 0rem -6rem;
}
.carousel .slide-indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
  grid-row: 1rem;
  gap: 0.5rem;
  z-index: 200;
}
.carousel .slide-indicator .slide-dot {
  width: 0.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.carousel .join-cares {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  bottom: 3.5rem;
  padding-inline: 0.95rem;
  padding-block: 0.7rem;
  border-radius: 0.75rem;
}
.carousel[data-slide="0"] .slide {
  transform: translateX(0%);
}
.carousel[data-slide="0"] .slide-indicator .slide-dot.community {
  transform: scale(200%);
}
.carousel[data-slide="1"] .slide {
  transform: translateX(-100%);
}
.carousel[data-slide="1"] .slide-indicator .slide-dot.academics {
  transform: scale(200%);
}
.carousel[data-slide="2"] .slide {
  transform: translateX(-200%);
}
.carousel[data-slide="2"] .slide-indicator .slide-dot.religious {
  transform: scale(200%);
}
.carousel[data-slide="3"] .slide {
  transform: translateX(-300%);
}
.carousel[data-slide="3"] .slide-indicator .slide-dot.environment {
  transform: scale(200%);
}
.carousel[data-slide="4"] .slide {
  transform: translateX(-400%);
}
.carousel[data-slide="4"] .slide-indicator .slide-dot.sociocultural {
  transform: scale(200%);
}

.catch-up-with-cares {
  flex: 0 0 calc(100vh - 10rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
}
.catch-up-with-cares .catch-up-with-cares-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 2;
  flex: 1 0 10rem;
  max-height: 30rem;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 5%, transparent 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 5%, transparent 100%);
  border-radius: 2rem 2rem 0rem 0rem;
}
.catch-up-with-cares .catch-up-with-cares-subheader {
  position: absolute;
  z-index: 200;
  bottom: 4rem;
}
.catch-up-with-cares .catch-up-with-cares-date {
  position: absolute;
  z-index: 200;
  bottom: 2rem;
}

.about-cares {
  width: 100%;
  flex: 0 0 calc(100vh - 10rem);
  background-color: blue;
  padding-inline: 8rem;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 1rem;
  place-items: center;
}
.about-cares .cares-rx-logo {
  width: 100%;
}
.about-cares .about-cares-article {
  display: flex;
  flex-direction: column;
}
.about-cares .about-cares-article .about-cares-subtitle {
  margin-bottom: 1rem;
}

.areas-display {
  flex: 0 0 calc(65vh - 10rem);
  padding-inline: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.areas-display .areas-container {
  aspect-ratio: 1;
  width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.areas-display .areas-container:hover {
  border-radius: 2rem;
  transform: scale(110%);
}

.about-the-areas {
  width: 100%;
  flex: 0 0 calc(100vh - 10rem);
  background-color: blue;
  padding-inline: 8rem;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 1rem;
  place-items: center;
}
.about-the-areas .cares-rx-logo {
  width: 100%;
}
.about-the-areas .about-the-areas-article {
  display: flex;
  flex-direction: column;
}
.about-the-areas .about-the-areas-article .about-the-areas-subtitle {
  margin-bottom: 1rem;
}

.the-officers {
  flex: 0 0 calc(100vh - 10rem);
}

.call-to-action {
  flex: 0 0 calc(65vh - 10rem);
}

.footer {
  padding-inline: 5rem;
  flex: 0 0 calc(40vh - 6rem);
  display: grid;
  padding-inline: 10rem;
  padding-top: 2rem;
  grid-template-columns: 1fr 1fr;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .contacts span {
  flex: 1 1 20%;
}/*# sourceMappingURL=style.css.map */