$navbarHeight: 4rem;
$fullSectionHeight: calc(100vh - 10rem);
$halfSectionHeight: calc(65vh - 10rem);
$footerHeight: calc(40vh - 6rem);

$officerCount: 26;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    flex: 0 0 $navbarHeight;
    align-items: center;
    padding-inline: 5rem;
    justify-content: space-between;
    z-index: 2000;

    .nav-cares-logo {
        height: 3rem;
    }

    .nav-options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 1.75rem;
        width: 27rem;

        .nav-to-areas {
            -webkit-appearance: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
} 

.footer {
    padding-inline: 5rem;
    flex: 0 0 $footerHeight;
    display: grid;
    padding-inline: 10rem;
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;

    .contacts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
            flex: 1 1 25%;
        }
    }
}

//LANDING
.carousel {
    width: 100vw;
    flex: 0 0 $fullSectionHeight;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
    position: relative;
    overflow: hidden;

    .logo {
        position: absolute;
        width: 30vw;
        left: 50%;
        transform: translateX(-50%);
        top: 3rem;
        box-shadow: inset;
        z-index: 100;
    }

    .slide-controls {
        position: absolute;
        z-index: 100;
        border: none;
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);

        &.prev-slide {
            left: 0rem;
        }

        &.next-slide {
            right: 0rem;
        }

        &:disabled {
            display: none;
        }
    }

    .slide {
        height: $fullSectionHeight;
        width: 100vw;
        object-fit: cover;
        object-position: center;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 45%, transparent 100%);

        &.community {
            object-position: 0rem -6rem;
        }
    }

    .slide-indicator {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
        grid-row: 1rem;
        gap: .5rem;
        z-index: 200;
        .slide-dot {
            width: .75rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    .join-cares {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
        bottom: 3.5rem;
        padding-inline: .95rem;
        padding-block: .7rem;
        border-radius: .75rem;
    }

    &[data-slide="0"] {
        .slide {
            transform: translateX(0%);
        }

        .slide-indicator {
            .slide-dot.community {
                transform: scale(200%);
            }
        }
    }

    &[data-slide="1"] {
        .slide {
            transform: translateX(-100%);
        }

        .slide-indicator {
            .slide-dot.academics {
                transform: scale(200%);
            }
        }
    }

    &[data-slide="2"] {
        .slide {
            transform: translateX(-200%);
        }

        .slide-indicator {
            .slide-dot.religious {
                transform: scale(200%);
            }
        }
    }

    &[data-slide="3"] {
        .slide {
            transform: translateX(-300%);
        }
        
        .slide-indicator {
            .slide-dot.environment {
                transform: scale(200%);
            }
        }
    }

    &[data-slide="4"] {
        .slide {
            transform: translateX(-400%);
        }

        .slide-indicator {
            .slide-dot.sociocultural {
                transform: scale(200%);
            }
        }
    }
}

.catch-up-with-cares {
    flex: 0 0 $fullSectionHeight;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    padding-bottom: 1rem;
    overflow: hidden;

    .catch-up-with-cares-image {
        object-fit: cover;
        object-position: center;
        aspect-ratio: 2;
        flex: 1 0 10rem;
        max-height: 30rem;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 35%, transparent 100%);
        border-radius: 2rem 2rem 0rem 0rem;
    }


    .catch-up-with-cares-subheader {
        position: absolute;
        z-index: 200;
        bottom: 4rem;

    }
    
    .catch-up-with-cares-date {
        position: absolute;
        z-index: 200;
        bottom: 2rem;
    }
}

.about-cares {
    width: 100%;
    flex: 0 0 $fullSectionHeight;
    background-color: blue;
    padding-inline: 8rem;

    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 1rem;
    place-items: center;

    .cares-rx-logo {
        width: 100%;

    }

    .about-cares-article {
        display: flex;
        flex-direction: column;

        .about-cares-subtitle {
            margin-bottom: 1rem;
        }
    }
}

.areas-display {
    flex: 0 0 $halfSectionHeight;
    padding-inline: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .areas-container {
        aspect-ratio: 1;
        width: 10rem;
        max-height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        display: grid;
        place-items: center;
        position: relative;

        &:hover {
            border-radius: 2rem;
            transform: scale(110%);

            &::before {
                opacity: 0;
            }
        }

        &::before {
            position: absolute;
            content: '';
            width: calc(100% + .8rem);
            aspect-ratio: 1;
        }

        a {
            z-index: 20;
        }
    }
}

.about-the-areas {
    width: 100%;
    flex: 0 0 $fullSectionHeight;
    padding-inline: 8rem;
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;

    .about-the-areas-header {
        flex: 1 1 100%;
    }

    .feature-article {
        width: 20rem;
        height: 25rem;
        background-color: red;
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .feature-image {
            width: 100%;
            aspect-ratio: 8 / 7;
            object-fit: cover;
            object-position: bottom;
        }

        .to-article {
            padding: 1rem 1.25rem;
            border-radius: 1rem;
        }
    }

}

.the-officers {
    flex: 0 0 calc($fullSectionHeight + 3rem);
    position: relative;
    display: grid;
    padding-block-start: 7.5rem;
    padding-block-end: 1rem;
    gap: 1rem;

    .the-officers-heading {
        position: absolute;
        padding-top: 1rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    .directory-scroll {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        gap: .75rem;
        width: auto;
        margin-inline: 2rem;
        align-items: center;
        padding-block: 1rem;
        overflow-y: hidden;
    }

    .flip-card {
        width: 18rem;
        background-color: transparent;
        perspective: 1000px;

        &:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-inner {
            position: relative;
            transform-style: preserve-3d;
            width: 100%;
            aspect-ratio: 288 / 456; 
            .flip-card-front {
                position: absolute;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                
                .officer-image {
                    width: 100%;
                    border-radius: 2rem;
                }
            }   

            .flip-card-back {
                width: 100%;
                aspect-ratio: 288 / 432; 
                border-radius: 2rem;
                padding: 1.2rem 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transform: rotateY(180deg);

                .name {
                    margin-top: 3rem;
                }

                .nickname {
                    margin-bottom: 3rem;
                }

                .contact {
                    margin-bottom: .75rem;
                }
            }
        }
    }
}

.call-to-action {
    flex: 0 0 $halfSectionHeight;
    padding-inline: 10rem;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .call-to-join {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: center;

        .call-to-join-header {
            text-align: center;
            font-size: 2rem;
        }

        .call-to-join-subheader {
            text-align: center;
        }

        .join-cares {
            margin-top: 1rem;
            padding-inline: .95rem;
            padding-block: .7rem;
            border-radius: .75rem;
            align-self: center;
            width: 8rem;
            text-align: center;
        }
    }

    .faq {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: center;

        .faq-header {
            text-align: center;
            font-size: 2rem;
        }

        .faq-subheader {
            text-align: center;
        }

        .to-faq {
            margin-top: 1rem;
            padding-inline: .95rem;
            padding-block: .7rem;
            border-radius: .75rem;
            align-self: center;
            width: 8rem;
            text-align: center;
        }
    }
}

//FAQ
.faq-page-container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding-block: 2rem;
    padding-inline: 10rem;

    .faq-inquiry {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: calc($navbarHeight + 2rem);
        align-self: self-start;

        .to-inquiry {
            display: block;
            margin-top: 1rem;
            padding-inline: 2rem;
            padding-block: .7rem;
            border-radius: .75rem;    
        }
    }

    .faq-list {
        .faq-search {
            width: 100%;
            padding-inline: 1rem;
            padding-block: .5rem;
            position: sticky;
            top: $navbarHeight;
        }
        .faq-item {
            overflow: hidden;
            margin-inline: 1rem;
            padding-inline: 1rem;
            margin-bottom: .5rem;

            .faq {
                * {
                    cursor: pointer;
                }
                .faq-response {
                    max-height: 0;
                    &.expanded {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}
