@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
}

.nav-bar {
    .nav-cares-logo-container {
        font-size: 1rem;
    }

    .nav-to-home,
    .nav-to-podcares,
    .nav-to-areas {
        text-align: center;

        &:hover {
            font-weight: 600;
        }
    }
}

.footer {
    .motto {
        .motto-latin {
            font-size: 3rem;
            font-style: italic;
        }

        .motto-translation {
            font-size: 1.25rem;
        }
    }

    .contacts {
        a:hover {
            text-decoration: underline;
        }
    }
}

//LANDING

.carousel {
    .slide-controls {
        i {
            font-size: 4.5rem;
        }
    }
}

.catch-up-with-cares {
    .catch-up-with-cares-header {
        font-size: 2rem;
    }

    .catch-up-with-cares-subheader {
        a {
            font-size: 1.5rem;
        }

        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }
    
    .catch-up-with-cares-date {
        font-style: italic;
    }
}

.about-cares {
    .about-cares-header {
        font-size: 2.25rem;
        text-decoration: underline;
    }

    .about-cares-subtitle {
        font-size: 1.5rem;
        opacity: .75;
        font-style: italic;
    }

    p {
        text-align: justify;
        &, * {
            font-size: 1.5rem;
        }

        a:hover {
            text-decoration: underline;       
        }
    }
}

.areas-display {

    .areas-container:hover {
        .link-to-area {
            padding-left: 0;
            letter-spacing: normal;
            position: relative;

            &::after {
                width: 100%;

            }

            &.community {
                font-size: 1.3rem;
            }

            &.academics {
                font-size: 1.3rem;
            }

            &.religious {
                font-size: 1.5rem;
            }

            &.environment {
                font-size: 1.10rem;
            }

            &.sociocultural {
                font-size: 1rem;
            }
        }
    }

    .link-to-area {
        font-family: "Poppins", sans-serif;
        font-size: 8rem;
        line-height: 1ch;
        letter-spacing: 5rem;
        font-weight: 600;

        &::after {
            position: absolute;
            background-color: white;
            right: 0;
            content: '';
            width: 0%;
        }

        &.community {
            padding-left: 1.6rem;

            &::after {
                height: .2rem;
                bottom: -.3rem;
            }
        }

        &.academics {
            padding-left: 1.8rem;

            &::after {
                height: .2rem;
                bottom: -.3rem;
            }
        }

        &.religious {
            padding-left: 2.2rem;

            &::after {
                height: .2rem;
                bottom: -.4rem;
            }
        }

        &.environment {
            padding-left: 2.4rem;

            &::after {
                height: .2rem;
                bottom: -.35rem;
            }
        }

        &.sociocultural {
            padding-left: 2.2rem;

            &::after {
                height: .17rem;
                bottom: -.37rem;
            }
        }
    }
}

.about-the-areas {
    .about-the-areas-header {
        font-size: 3rem;
        text-align: center;
    }

    .feature-article {
        .feature-header {
            text-align: center;
        }
    }
}

.the-officers {
    .the-officers-heading {
        font-size: 3rem;
    }

    .directory-controls {
        align-items: center;
        i {
            font-size: 4.5rem;
        }
    }

    .flip-card {
        .flip-card-inner {
            .flip-card-back {
                .rank {
                    font-size: 2rem;
                    text-align: center;
                }

                .name {
                    font-size: .9rem;
                    text-align: center;
                }

                .position {
                    font-style: italic;
                    text-align: center;
                    opacity: .6;
                }
                .nickname {
                    opacity: .6;
                    font-size: .8rem;
                    text-align: center;
                }

                .contact {
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

}

//FAQ 
.faq-page-container {
    .faq-inquiry {
        .inquiry-header {
            font-size: 2rem;
        }
    }

    .faq-list {
        list-style: none;
        .faq-item {
            .faq {
                .faq-question {
                    font-size: 2rem;
                }
            }
        }
    }
}